<!-- your account password -->
<div class="auth-intro-cnt">
  <h3 class="title">
    {{ "Account Password" | translate }}
  </h3>
  <div class="desc">
    {{ "The 'account password' is used to unlock and access all of your data." | translate }}
  </div>
  <div class="auth-intro-media">
    <img src="./images/account_password.svg" alt="{{ 'Welcome to the Safe Launcher' | translate }}" />
  </div>
  <div class="opt">
    <div class="opt-i lt">
      <button type="button" class="btn" name="back" ng-click="createAccFlow.back()">
        {{ "Back" | translate }}
      </button>
    </div>
    <div class="opt-i">
      <button type="button" class="btn" name="continue" ng-click="createAccFlow.continue()">
        {{ "Continue" | translate }}
      </button>
    </div>
  </div>
</div><!-- your account password -->
