<div class="auth-loader">
    <h3 class="title">
        <span ng-if="$state.params.currentPage === 'register'">
            {{ "Registering you on the SAFE Network!" | translate }}
        </span>
        <span ng-if="$state.params.currentPage !== 'register'">
            {{ "Logging you on the SAFE Network!" | translate }}
        </span>
    </h3>
  <span class="loader"></span>
  <div class="opt">
    <div class="opt-i">
      <button type="button" class="btn primary" name="cancel" ng-click="cancelRequest()">
        {{ "Cancel" | translate }}
      </button>
    </div>
  </div>
</div>
